@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  background-color: beige;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
}

html,
body,
#root {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}



@font-face {
  font-family: "Blacksword";
  src: local("Blacksword"),
    url("./assets/fonts/Blacksword.otf") format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: local("Pacifico"),
    url("./assets/fonts/Pacifico-Regular.ttf") format("truetype");
}